body > header {
  height: 520px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
  background-color: #E0D68A;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
}

@media only screen and (min-width: 1024px) {
  body > header {
    height: 70%;
    width: 30%;
    float: left;
    margin: 6em 3em 3em 3em;
    position: fixed;
  }
}