form {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  font-size: 30pt;
  font-weight: bold;
}

form > textarea {
  margin: 0.5em 0 0.5em 0;
  resize: none;
  border: none;
  outline: none;
  border-bottom: 5px black solid;
  font-size: 20pt;
  font-weight: inherit;
  background-color: inherit;
}

form > div {
  font-family: 'Bungee', cursive;
  display: inherit;
  flex-flow: row wrap;
  justify-content: space-between;
  
}

div button {
  background-color: #4056A1;
  color: #FFFFFF;
}

.red {
  color: red;
}

article.tweet {
  border: solid 5px black;
  margin: 100px 0 100px 0;
  padding: 20px;
}

article.tweet .tweet-content {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
}

.tweet-content > div {
  display: flex;
  flex-flow: row wrap;
}

.tweet-content > div p {
  margin-left: 20px;
}

.opacity {
  opacity: 0.5;
}

.tweet-message {
  border-bottom: black 5px solid;
  padding: 0em 1em 0em 1em;
}

.tweet-message p {
  min-height: 2em;
}

footer.tweet-content > div {
  font-size: .70em;
  margin: 0.5em;
}

footer.tweet-content div i {
  margin: 0em 0.3em 0em 0.3em;
}

.tweet:hover {
  box-shadow: 5px 10px 8px  #ffcc00;
}
.fas:hover {
  color: #ffcc00;;
}